body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: url("../image/admin_dashboard.svg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

h2 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 3em;
  color: #ffcc00;
  text-shadow: 2px 2px 4px #000000;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  width: auto;
}

li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

li a:hover {
  background-color: #ffcc00;
  color: #000000;
}

.back-button {
  padding: 10px 20px;
  margin-top: 40px;
  font-size: 0.8em;
  width: auto;
  background-color: #f44336;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #666666;
}
