body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  background: url("../image/admin_background.svg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #d32f2f;
}

.back-button {
  padding: 5px 15px;
  font-size: 0.8em;
  margin-top: 10px;
  width: auto;
}
