body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("../image/employee_background.svg") no-repeat right center
    fixed;
  background-size: cover;
}

.search-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  width: 150%;
  border-collapse: collapse;
  margin-top: 30px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
